@tailwind base;
@tailwind components;
@tailwind utilities;

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.field {
    @apply w-full px-4 py-2 mt-1 rounded bg-sky-50 dark:bg-slate-700;
}

select.field {
    @apply w-full px-4 py-2 mt-1 rounded bg-sky-50 dark:bg-slate-700;
    border-right: 1rem solid transparent;
}

.spinner {
    visibility: hidden;
}

.spinner.loading {
    visibility: visible;
}
